<%= link_to "Добавить пользователя", new_user_path %>
<br>

<% @users.each do |user| %>
    <h3><%= link_to user.name, user %> </h3>
    <%= link_to "Изменить", edit_user_path(user.id) %>
    <%= link_to "Удалить", user, method: :delete, data: 
                                                { confirm: "Вы уверены?" } %>
<% end %>